# APP
NODE_ENV=production
PORT=3000
PUBLIC_BASE_URL=https://pansa.my.id

# ADMIN
ADMIN_BASE_PATH=/panel-pansa

# DB
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASS=yourpass
DB_NAME=royal_dreams

# SESSION
SESSION_SECRET=change_this_secret
COOKIE_SECURE=true

# SECURITY
ALLOWED_ORIGINS=https://pansa.my.id,http://localhost:3000

# UPLOADS
UPLOAD_DIR=uploads

# Optional logging
LOG_REQUESTS=true
